nav ul
{
    display: flex;
    align-items: baseline;
    list-style-type : none;
    margin-top : 0;
    margin : 0;
    padding-top : 0;
    overflow : hidden;
}

nav ul li a
{
    font-size: 2vw;
    padding-right : 3vw;
    color : white;
    text-decoration : none;
}
nav ul li a:hover
{
    text-decoration: underline;
    color: white;
}

.logo
{
    float : left;
    margin-right : 2vw;
    margin-left : 5vw;
    font-size: 2vw;
    color : white ;
}
.logo img
{
    max-height : 6vw;
    max-width : 6vw;
}

#top
{
    padding-top: 15vw;
    padding-left: 3vw;
    background-color: gainsboro;
    margin-bottom: 8vw;
}
.fixed
{   
    position: fixed;
    z-index: 1000;
    background-color: black;
    width: 100%;
}
h1{
    font-size:4.6vw;
    font-weight:bolder;
}


.topheader
{
    font-size: 2.8vw;
}
#head{
    color:dimgrey;
    font-size: 2.5vw;
}
.con
{
    margin-left: 3vw;
    font-size:2vw;
    font-weight: 400;
    margin-right: 50vw;
    font-family: sans-serif;
}
.slideshow
{
    position: absolute;
    max-width: 40%;
    max-height: 40%;
    left: 60vw;
    top : 63vw;

}
.slideshow img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 60vw;
}
h2 
{
    margin-left: 3vw;
     margin-right: 40vw;
     font-size: 3vw;
     padding-top: 15px;
     padding-bottom: 15px;
}
.down
{
    margin-left: 3vw;
    font-size:2vw;
    font-weight: 400;
    margin-right: 50vw;
    font-family: sans-serif;
}
.up
{
    margin-left:3vw;
    padding-left: 3vw;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:2.8vw;
    font-style: italic;
    background-color: darkgray;
    margin-right: 30vw;
}
nav{
    display: flex;
    align-items: baseline;
}

@media only screen and (max-width: 1026px) {

    .con
    {
        margin-left: 3vw;
        font-size:4vw;
        font-weight: 600;
        margin-right: 50vw;
        font-family: sans-serif;
    }
    h1{
        font-size:100px;
        font-weight:bolder;
    }
    .down
{
    margin-left: 3vw;
    font-size:4vw;
    font-weight: 600;
    margin-right: 50vw;
    font-family: sans-serif;
}
.up
{
    margin-left:3vw;
    padding-left: 3vw;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:6vw;
    font-style: italic;
    background-color: darkgray;
    margin-right: 30vw;
}
.topheader
{
    font-size: 5vw;
}
#head{
    color:dimgrey;
    font-size: 4vw;
}
nav ul li a
{
    font-size: 2.5vw;
    padding-right : 3vw;
    color : white;
    text-decoration : none;
}
.logo
{
    float : left;
    margin-right : 2vw;
    margin-left : 5vw;
    font-size: 2.5vw;
    color : white ;
}
    
}